.head {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffc90e;
	min-height: 80px;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
	margin: 10px;
}
a {
	text-decoration: none;
	color: black;
}
.a {
	margin: 5px;
}
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.main {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-top: -10px;
	margin-right: 10px;
	justify-content: space-between;
	min-height: 100vh;
}
.content {
	display: flex;
	justify-content: center;
	max-width: 800px;
	min-width: 300px;
	padding-top: 40px;
	flex-wrap: wrap;
	text-align: center;
}
.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.big {
	display: flex;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 40px;
	min-width: 500px;
	justify-content: center;
}
.img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 5px;
	width: 200px;
	height: 300px;
	border: 2px solid #cdbfbf;
	border-radius: 20px;	
}
.holder1 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: flex-start;
	max-height: 80%;
}
.b {
	font-weight: bold;
	min-width: 200px;
	margin: 10px 0;
}
.text {
	margin-top: 5px;
	padding-left: 2px;
	min-height: 200px;
}
.i {
	border-radius: 70px;
	border: 15px solid #cdbfbf;
}
.aside {
	display: flex;
	min-width: 210px;
	max-width: 210px;
	justify-content: center;
	padding-top: 20px;
}
#a1 {
	background-color: #cea2bf;
	order:-1;
}
#a2 {
	background-color: #a6b9ce;
}
.go {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
}
#go1 {
	padding: 7px 20px;
	border-radius: 40px;
	width: 20px;
	background: #735b7f;
	color: white;
	max-height: 20px;
	margin-top: 20px;

}
#go2 {
	padding: 7px 20px;
	border-radius: 40px;
	background: #735b7f;
	width: 20px;
	color: white;
	transition-duration: 1s;
	max-height: 20px;

}
#go2:hover {
	color: black;
	background-color: yellow;
	box-shadow: 0 0 30px;
}
#go3 {
	padding: 7px 20px;
	border-radius: 40px;
	background: #735b7f;
	color: white;
	width: 20px;
	max-height: 20px;
}
#go4 {
	padding: 7px 20px;
	border-radius: 40px;
	background: #735b7f;
	color: white;
	transition-duration: 1s;
	width: 20px;
	max-height: 20px;
}
#go4:hover {
	color: red;
	background-color: blue;
	box-shadow: 0 0 30px;
}
#go5 {
	padding: 7px 20px;
	border-radius: 40px;
	background: #735b7f;
	color: white;
	width: 20px;
	max-height: 20px;
}
#go6 {
	padding: 7px 20px;
	border-radius: 40px;
	background: #735b7f;
	color: white;
	transition-duration: 1s;
	width: 20px;
	max-height: 20px;
}
#go6:hover {
	color: #f78409;
	background-color: #12d59c;
	box-shadow: 0 0 30px;
}
.footer{
	display: flex;
	background-color: #90ee90;
	min-height: 50px;
	justify-content: center;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 10px;
}
.holder {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	max-width: 500px;
	min-height: 100px;
	border: 3px solid black;
	border-radius: 30px 30px 0 0;
	margin-bottom: 20px; 
}
.item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item:nth-child(1) {
	order: 1;
	flex-grow: 2;
	flex-shrink: 1;
	background: #fc644d;
	min-height: 50px;
	min-width: 250px;
	border-radius: 25px 0 0 0;

}
.item:nth-child(2) {
	order: 4;
	flex-grow: 1;
	flex-shrink: 2;
	background: #4983b2;
	min-height: 50px;
	min-width: 166px;
}
.item:nth-child(3) {
	order: 3;
	flex-grow: 1;
	flex-shrink: 2;
	background: #653797;
	min-height: 50px;
	min-width: 167px;
}
.item:nth-child(4) {
	order: 5;
	flex-grow: 1;
	flex-shrink: 2;
	background: #0f7f12;
	min-height: 50px;
	min-width: 167px;
}
.item:nth-child(5) {
	order: 2;
	flex-grow: 2;
	flex-shrink: 1;
	background-color: #fda429;
	min-height: 50px;
	min-width: 250px;
	border-radius: 0 25px 0 0;
}